.selected {
  font-weight: bold;
  color: #2c38a7;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Matrix;
  src: url(../fonts/Matrix.ttf);
}

.card-container {
  position: relative;
  font-family: Matrix;
  color: rgb(26, 26, 26);
  width: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  height: 400px;
  position: absolute;
  border-radius: 5px;
  width: 280px;
}

.converted-image {
  height: 400px;
}
