.spell-card-name {
  position: absolute;
  font-size: 1.5rem;
  top: 1.2rem;
  left: 2.2rem;
  width: 12rem;
  overflow-wrap: break-word;
  color: rgb(245, 245, 245);
}

.spell-card-img {
  position: absolute;
  top: 5.3rem;
  left: 2.45rem;
  height: 12.45rem;
  width: 12.47rem;
  margin: auto;
  filter: brightness(90%);
}

.spell-card-eff {
  position: absolute;
  top: 19.2rem;
  left: 2rem;
  font-size: 0.7rem;
  width: 13.63rem;
  overflow-wrap: break-word;
  line-height: 1;
}
