.trap-card-name {
  position: absolute;
  font-size: 1.5rem;
  top: 1.3rem;
  left: 2.2rem;
  width: 12rem;
  overflow-wrap: break-word;
  color: rgb(245, 245, 245);
}

.trap-card-img {
  position: absolute;
  top: 5.4rem;
  left: 2.48rem;
  height: 12.4rem;
  width: 12.5rem;
  margin: auto;
  filter: brightness(90%);
}

.trap-card-eff {
  position: absolute;
  top: 19.3rem;
  left: 2rem;
  font-size: 0.7rem;
  width: 13.63rem;
  overflow-wrap: break-word;
  line-height: 1;
}
